<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dental Clinical</title>
</head>
<body>

<p>
    Hola Paciente
    <span th:text="${name}"/>
    <span th:text="${last_name}"/>
</p>

<p>
    Dentista:
    <span th:text="${dentistName}"/>
    <span th:text="${dentistLastName}"/>
    <span th:text="${dentistmatricule}"/>
</p>


</body>
</html>